<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Chat Room</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <router-link :to="{name: 'room'}" activeClass="active" tag="li" class="nav-item">
                    <a class="nav-link" href="#">Main-Room <span class="sr-only">(current)</span></a>
                </router-link>
                <router-link :to="{name: 'profile'}" tag="li" activeClass="active" class="nav-item">
                    <a class="nav-link" href="#">
                        {{user.username}}
                        <img :src="user.image" style="width: 20px; height: 20px; object-fit: cover; border-radius: 30px; border: 2px solid #ddd;"/>
                    </a>
                </router-link>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click.prevent="logout">Logout</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
import io from './../io-client'
export default {
    computed: {
        ...mapGetters({
            user: 'getUser'
        })
    },
    methods: {
        logout () {
            if (confirm('Loging out? Are you sure?')) {
                this.$store.dispatch('setPosts', [])
                localStorage.removeItem('token')
                this.$router.push({name: 'login'})
            }
        }
    },
    mounted () {
        io()
       this.axios({
           url: 'post',
           method: 'get'
       }).then(response => {
        //    console.log(response.data)
           this.$store.dispatch('setPosts', response.data)
       }).catch(err => console.log(err))
    }
}
</script>

<style>

</style>
