<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8">
                <form @submit.prevent="login">
                    <h5 class="text-center" style="margin-bottom: 50px; color: grey;">Please Login to the chat room</h5>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <span class="text-danger float-right" v-if="errors.has('email')">{{errors.first('email')}}</span>
                        <input type="email" v-model="email" name="email" v-validate="'required|email'" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <span class="text-danger float-right" v-if="errors.has('password')">{{errors.first('password')}}</span>
                        <input type="password" v-model="password" name="password" v-validate="'required|min:6'" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="text-center" v-if="loading"><span class="fa fa-spinner fa-spin"></span> Please wait...</div><br>
                    <button v-if="!loading" type="submit" class="btn btn-primary">Submit</button>
                    <router-link v-if="!loading" :to="{name: 'register'}" tag="a" href="javascript:void(0)" class="btn btn-info float-right">or Register</router-link>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            email: '',
            password: '',
            loading: false
        }
    },
    methods: {
        login () {
            const vm = this
            this.$validator.validateAll().then(result => {
                if (result) {
                    vm.loading = true
                    this.axios({
                        method: 'post',
                        url: 'user/login',
                        data: {email: vm.email, password: vm.password}
                    }).then(response => {
                        // console.log(response.data)
                        localStorage.setItem('token', response.data.token)
                        vm.$store.dispatch('setUser', response.data.user)
                        localStorage.removeItem('user')
                        localStorage.setItem('user', JSON.stringify(response.data.user))
                        vm.$router.push({name: 'room'})
                        vm.loading = false
                    }).catch(error => {
                        console.log(error)
                        vm.loading = false
                        alert('Oops, an unexpected error occured')
                    })
                }
            })
        }
    }
}
</script>

<style scoped>
form{
    margin-top: 50px;
    padding: 100px;
    border: 1px solid #dddddd;
}
/* .fa{
    font-size: 2em;
    margin-right: 5px;
} */
</style>
