<template>
    <div class="message">
        <img :src="'http://localhost:3000' + item.author.image"/>
        <div class="message-body">
            <p>
                <span class="text-success" style="font-weight: bold;">{{item.author.username}}</span>
                <span class="float-right" style="font-size: 12px; color: grey;">{{ item.postedOn }}</span>
                <span class="float-right" style="font-size: 12px; color: green; margin-right: 20px; font-weight: bold;">Online</span>
            </p>
            <p>
                {{item.content}}
            </p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['item']
}
</script>

<style scoped>
.message{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #eeeeee;
}
.message img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #dddddd;
    margin: 5px;
    object-fit: cover;
}
.message-body{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-grow: 1;
}
.message-body p{
    /* background: #dddddd; */
}
</style>
