<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form @submit.prevent="save">
                    <h5 class="text-center" style="margin-bottom: 50px; color: grey;">Edit Your Profile </h5>
                    <div class="profile-img">
                        <img :src="user.image"/>
                        <label for="image" class="btn btn-outline-success my-2 my-sm-0">Upload image</label>
                        <input type="file" style="display: none;" id="image" @change="upload">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <span class="text-danger float-right" v-if="errors.has('email')">{{errors.first('email')}}</span>
                        <input type="email" v-model="user.email" name="email" v-validate="'required|email'" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <span class="text-danger float-right" v-if="errors.has('username')">{{errors.first('username')}}</span>
                        <input type="text" v-model="user.username" name="username" v-validate="'required'" class="form-control" aria-describedby="emailHelp" placeholder="Enter Username">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Old Password</label>
                        <span class="text-danger float-right" v-if="errors.has('password')">{{errors.first('password')}}</span>
                        <input type="password" v-model="user.oldPassword" name="password" v-validate="'required|min:6'" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <p class="text-center">Enter a new password if you want to change password</p>
                    <div class="form-group">
                        <label>New Password</label>
                        <span class="text-danger float-right" v-if="errors.has('confirm_password')">{{errors.first('confirm_password')}}</span>
                        <input v-model="user.newPassword" type="password"  name="confirm_password" v-validate="'min:6'" class="form-control" placeholder="Password">
                    </div>
                    <div class="text-center" v-if="loading"><span class="fa fa-spinner fa-spin"></span> Please wait...</div>
                    <div class="text-center"><button type="submit" class="btn btn-outline-success my-2 my-sm-0" v-if="!loading">Save Changes</button></div>
                    <!-- <router-link :to="{name: 'login'}" tag="a" href="javascript:void(0)" class="btn btn-info float-right">or Login</router-link> -->
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            email: '',
            password: '',
            username: '',
            image: '/static/img/avatar.jpg',
            img_file: null,
            loading: false
        }
    },
    computed: {
        ...mapGetters({
            user: 'getUser'
        })
    },
    methods: {
        save () {
            const vm = this
            this.$validator.validateAll().then(result => {
                if (result) {
                    let formData = new FormData();
                    if (vm.user.id) {
                        formData.append('id', vm.user.id)
                    } else {
                        formData.append('id', vm.user._id)
                    }
                    formData.append('email', vm.user.email)
                    formData.append('username', vm.user.username)
                    if (vm.user.newPassword) {
                        formData.append('newPassword', vm.user.newPassword)
                    }
                    formData.append('password', vm.user.oldPassword)
                    if (this.img_file !== null) {
                        formData.append('image', this.img_file)
                    }
                    vm.loading = true
                    vm.axios({
                        method: 'put',
                        url: 'user',
                        data: formData
                    }).then(response => {
                        console.log(response.data)
                        alert('Profile update successfully')
                        localStorage.removeItem('user')
                        localStorage.setItem('user', JSON.stringify(response.data.user))
                        vm.$store.dispatch('setUser', response.data.user)
                        vm.loading = false
                        // vm.$router.push({name: 'login'})
                    }).catch(error => {
                        console.log(error.response.data)
                        vm.loading = false
                        alert('an unexpected occured')
                    })
                }
            })
        },
        upload (event) {
            let files = event.target.files
            const vm = this
            if (files && files[0]) {
                let fileReader = new FileReader();

                fileReader.onload = (event) => {
                    vm.$store.dispatch('setImage', event.target.result)
                }

                fileReader.readAsDataURL(files[0])

                vm.img_file = files[0]
            }
        }
    }
}
</script>

<style scoped>
form{
    margin-top: 50px;
    /* padding: 20px 100px; */
    /* border: 1px solid #dddddd; */
}
.profile-img{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}
.profile-img img{
    display: block;
    width: 200px;
    height: 200px;
    border: 3px solid #dddddd;
    border-radius: 100px;
    margin: 20px auto;
    object-fit: cover;
}
</style>
