<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8">
                <form @submit.prevent="register">
                    <h5 class="text-center" style="margin-bottom: 50px; color: grey;">Register to join chat room</h5>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <span class="text-danger float-right" v-if="errors.has('email')">{{errors.first('email')}}</span>
                        <input type="email" v-model="email" name="email" v-validate="'required|email'" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <span class="text-danger float-right" v-if="errors.has('username')">{{errors.first('username')}}</span>
                        <input type="text" v-model="username" name="username" v-validate="'required'" class="form-control" aria-describedby="emailHelp" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <span class="text-danger float-right" v-if="errors.has('password')">{{errors.first('password')}}</span>
                        <input type="password" v-model="password" name="password" v-validate="'required|min:6'" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <span class="text-danger float-right" v-if="errors.has('confirm_password')">{{errors.first('confirm_password')}}</span>
                        <input type="password"  name="confirm_password" v-validate="'required|confirmed:password'" class="form-control" placeholder="Password">
                    </div>
                    <div class="text-center" v-if="loading"><span class="fa fa-spinner fa-spin"></span> Please wait...</div><br>
                    <button v-if="!loading" type="submit" class="btn btn-primary">Submit</button>
                    <router-link v-if="!loading" :to="{name: 'login'}" tag="a" href="javascript:void(0)" class="btn btn-info float-right">or Login</router-link>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            email: '',
            password: '',
            username: '',
            loading: false
        }
    },
    methods: {
        register () {
            const vm = this
            this.$validator.validateAll().then(result => {
                if (result) {
                    vm.loading = true
                    vm.axios({
                        method: 'post',
                        url: 'user/register',
                        data: {email: vm.email, username: vm.username, password: vm.password}
                    }).then(response => {
                        console.log(response.data)
                        vm.$router.push({name: 'login'})
                    }).catch(error => {
                        console.log(error.response.data)
                        vm.loading = false
                        alert('an unexpected occured')
                    })
                }
            })
        }
    }
}
</script>

<style scoped>
form{
    margin-top: 50px;
    padding: 100px;
    border: 1px solid #dddddd;
}
</style>
