<template>
    <div class="container">
        <h5 class="text-center" style="color: grey; margin-top: 50px;">
            Chat room
        </h5>
        <div class="row justify-content-center" v-if="posts !== null">
            <div class="col-sm-8 room" v-if="posts.length > 0">
                <message v-for="(i, index) in posts" :key="index" :item="i"></message>
                <span id="bottom"></span>
            </div>
            <div class="col-sm-8 room text-center" style="color: grey;" v-else>
                No posts available in chat room
            </div>
        </div>
        <div class="row justify-content-center" v-if="posts === null">
            <div class="col-sm-8 room text-center" style="color: grey;">
                <span class="fa fa-spinner fa-spin"></span>  loading.... 
            </div>
        </div>
        <div class="footer-form">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                   <form @submit.prevent="sendChat">
                       <div class="form-group">
                            <input type="text" v-model="message" name="message" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button v-if="!loading" type="submit" class="btn btn-outline-success my-2 my-sm-0">Send <span class="fa fa-send"></span></button>
                        <a href="javascript:void(0)" class="btn btn-outline-success my-2 my-sm-0 disabled" v-else><span class="fa fa-spinner fa-spin"></span> Sending... </a>
                   </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Message from './message.vue'
import {mapGetters} from 'vuex'
export default {
    components: {Message},
    data () {
        return {
            message: '',
            items: [],
            loading: false
        }
    },
    computed: {
        ...mapGetters({
            posts: 'getPosts',
            socket: 'getSocket'
        })
    },
    methods: {
        sendChat () {
            if (this.message) {
                // this.loading = true
                const vm = this
                this.$store.dispatch('pushPost', this.message).then(post => {
                    vm.socket.emit('send-chat-room-message', post)
                })
                
                const content = this.message
                this.message = ''
                
                this.axios({
                    method: 'post',
                    url: 'post',
                    data: {content}
                }).then(response => {
                    this.message = ''
                    vm.loading = false
                }).catch(err => {
                    console.log(err)
                    vm.loading = false
                })
            }
        }
    }
}
</script>

<style>
.room{
    /* background: #eeeeee; */
    /* border-radius: 5px; */
    padding: 20px;
    /* border: 1px solid #eeeeee; */
    /* height: 700px; */
    /* overflow-x: auto; */
}
.footer-form{
    background: #eeeeee;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
</style>
