<template>
    <router-view/>
</template>

<script>
export default {
  name: 'App',
  mounted () {
    const user = JSON.parse(localStorage.getItem('user'))
    if (user) {
      this.$store.dispatch('setUser', user)
    }
  }
}
</script>
